@model IEnumerable<Metodolgia.Models.Coche>

<h2> Listado de coches </h2>

<div>
        @{
                 var grid = new WebGrid(Model, defaultSort: "Marca");
        }

        @grid.GetHtml(columns: grid.Columns(
        grid.column("Marca"), header:"Marca"),
        grid.column("Modelo"), header:"Modelo"),
        grid.column("Color"), header:"Color")
        ))
</div>